Cours 4/XML-02-E03_Exercice1_Exemple_Schema.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Exemple de schéma xsd pour l'exercice 1 de XML-02-E03-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"><script/>
	<!-- 1. un entier entre 1 et 10 -->
	<xs:simpleType name="entierLimite">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<!--2. Un texte sans espaces comportant exactement 16 caractères-->
	<xs:simpleType name="Texte16caracteres">
		<xs:restriction base="xs:NMTOKEN">
			<xs:length value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<!--3. Un texte quelconque comportant au plus 32 caractères.-->
	<xs:simpleType name="TexteMax32caracteres">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TexteMax32caracterescoll">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TexteMax32caracteresrepl">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
			<xs:whiteSpace value="replace"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TexteMax32caracteresprev">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>


	<!--4. Un texte quelconque qui préserve les espaces multiples mais pas les sauts de ligne-->
	<xs:simpleType name="TexteSansSautsDeLigne">
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<!--5. Un nombre entier entre -100 et 1000   [-100  - 1000[-->
	<xs:simpleType name="Entier-100Et1000">
		<xs:restriction base="xs:short">
			<xs:minInclusive value="-100"/>
			<xs:maxExclusive value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<!--6. Un nombre réel strictement supérieur à 10-->
	<xs:simpleType name="ReelSuperieur10">
		<xs:restriction base="xs:float">
			<xs:minExclusive value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<!--7. Un nombre entier qui peut prendre les valeurs 1,5,16,21 ou 34-->
	<xs:simpleType name="Valeur_1_5_16_21_34">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="1"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<!--8. Un nombre entier entre 10 et 20 ou entre 40 et 50 [10 - 20] [40 - 50]-->
	<xs:simpleType name="EntierEntre10et20ou40et50Solution2">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:byte">
					<xs:minInclusive value="10"/>
					<xs:maxInclusive value="20"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:byte">
					<xs:minInclusive value="40"/>
					<xs:maxInclusive value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!--9. Un nombre réel avec 5 chiffres après la virgule-->
	<xs:simpleType name="Reel5ChiffresApresVirgule">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<!--10. Un numéro de série de la forme c-cc-ccc-cccc   (c = caractère)-->
	<xs:simpleType name="NumeroSerie">
		<xs:restriction base="xs:NMTOKEN">
			<xs:pattern value=".\-..\-...\-...."/>
		</xs:restriction>
	</xs:simpleType>
	<!--11. Un nombre entier comportant le signe et 4 chiffres-->
	<xs:simpleType name="EntierSigneEt4Chiffres">
		<xs:restriction base="xs:short">
			<xs:pattern value="[+-][0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--12. Un texte parmi les possibilités suivantes : Petit   Moyen  Grand-->
	<xs:simpleType name="PetitMoyenOuGrand">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Petit"/>
			<xs:enumeration value="Moyen"/>
			<xs:enumeration value="Grand"/>
		</xs:restriction>
	</xs:simpleType>
	<!--13. Un texte entre 5 et 9 caractères composé uniquement de voyelles-->
	<xs:simpleType name="Voyelles5a9">
		<xs:restriction base="xs:NMTOKEN">
			<xs:pattern value="[AEIOUYaeiouy]{5,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--14.	Une donnée pouvant être soit une date, soit un texte-->
	<xs:simpleType name="DateTexte">
		<xs:union memberTypes="xs:date xs:string"/>
	</xs:simpleType>
	<xs:element name="Serie0203">
		<xs:complexType>
			<xs:sequence>
				<!-- Si on désire faire plusieurs exemples de test on ajoute maxOccurs="unbounded".-->
				<xs:element name="question1" type="entierLimite" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="question2" type="Texte16caracteres" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="question3" type="TexteMax32caracteres" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="question3a" type="TexteMax32caracterescoll" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="question3b" type="TexteMax32caracteresrepl" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="question3c" type="TexteMax32caracteresprev" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="question4" type="TexteSansSautsDeLigne" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="question5" type="Entier-100Et1000" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="question6" type="ReelSuperieur10" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="question7" type="Valeur_1_5_16_21_34" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="question8" type="EntierEntre10et20ou40et50Solution2" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="question9" type="Reel5ChiffresApresVirgule" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="question10" type="NumeroSerie" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="question11" type="EntierSigneEt4Chiffres" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="question12" type="PetitMoyenOuGrand" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="question13" type="Voyelles5a9" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="question14" type="DateTexte" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>