Cours 2/XML-02-E01_Exercice1_Exemple_Schema.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Exemple de schéma pour l'exemple 1 avec l'arbre généaloqiue pour l'exercice 1 de XML-02-E01-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><script/>
	<xsd:element name="nom" type="xsd:string"/>
	<xsd:element name="prenom" type="xsd:string"/>
	<xsd:element name="age" type="xsd:string"/>
	<xsd:attribute name="niveau" type="xsd:string"/>

	<xsd:element name="personne">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="nom"/>
				<xsd:element ref="prenom"/>
				<xsd:element ref="age"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="enfant">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="personne"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="descendants">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="parents" maxOccurs="unbounded"/>
				<xsd:element ref="enfant" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:attribute ref="niveau" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="parents">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="personne" maxOccurs="unbounded"/>
				<xsd:element ref="descendants"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="grandParent">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="personne" maxOccurs="unbounded"/>
				<xsd:element ref="descendants"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="famille">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="grandParent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>