Cours 3/XML-02-C02-Exemple_Schema.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- édité avec XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com) par HE-Arc (Haute Ecole Arc) -->
<!--Exemple de schéma xsd pour l'exemple de la gestion de joueurs et joueuses de football-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"><script/>
	<xs:element name="nom" type="xs:token"/>
	<xs:element name="prenom" type="xs:token"/>
	<xs:element name="date_naissance" type="xs:date"/>
	<xs:element name="telephone" type="xs:integer"/>
	<xs:element name="email" type="xs:token"/>
	<xs:element name="posteJoueur" type="xs:token"/>
	<xs:element name="marie" type="xs:boolean"/>
	<xs:element name="remarque" type="xs:string"/>
	<xs:attribute name="idJoueur" type="xs:ID"/>
	<xs:attribute name="sexe" type="xs:NMTOKEN"/>
	<xs:element name="joueur">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nom"/>
				<xs:element ref="prenom"/>
				<xs:element ref="date_naissance"/>
				<xs:element ref="telephone"/>
				<xs:element ref="email"/>
				<xs:element ref="posteJoueur"/>
				<xs:element ref="marie"/>
				<xs:element ref="remarque" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="idJoueur"/>
			<xs:attribute ref="sexe"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="football">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="joueur" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>